body {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  text-align: center;
}
h3 {
  font-weight: 900;
}

p {
  color: #8f8f8f;
}
h2 {
  font-weight: 900;
  line-height: 1.5;
  font-size: 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

/* 

    Title/ Navbar

*/

#title {
  text-align: left;
  background-color: #ff4c68;
  color: white;
}

.navbar {
  padding-left: 0;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
}

.nav-item {
  margin: 0 5%;
}

.nav-link {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.2rem;
}

.container {
  margin: 0 8%;
  padding: 3% 3% 0 3%;
}

.row {
  /* margin: 10% 0; */
  padding: 10% 0;
}

.row h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

.download-btn {
  margin: 15% 2%;
}

.hero-img {
  transform: rotate(20deg);
  width: 350px;
  position: absolute;
  /* object-fit: none; 
  object-position: top; 
  width: 100%;
  max-height: 600px;
  margin-bottom: 0; */
}

/* 

	Features Section

*/

#features {
  padding: 5% 7%;
  background-color: #fff;
  position: relative;
  /* z-index: 1; */
}

.feature-block {
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1.5rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonials Section */

#testimonials {
  background-color: #ff4c68;
  color: #fff;
}

.carousel-inner {
  padding: 7% 15%;
}

.testi-img {
  width: 10%;
  border-radius: 100%;
  margin: 40px;
}

/* Press Section */

#press {
  background-color: #ff4c68;
  padding: 7% 12%;
}

#press h3 {
  color: white;
  padding: 40px 0 30px;
}

.press-logo {
  width: 18%;
  margin: 20px 40px 50px;
}

.press-logo-tnw {
  width: 15%;
  margin: 20px 40px 50px;
}

.carousel-indicators li {
  height: 10px;
  width: 10px;
  border: 1px solid transparent;
  border-radius: 100%;
}

/* Pricing */

#pricing {
  padding: 7% 8%;
}

.dog-card {
  padding: 5%;
  margin: 2%;
}

/* .dog-card:hover {
  background-color: #ef8172;
} */

.dog-img {
  height: 220px;
}

.dog-btn {
  margin: 20px 0;
}

/* call to action */

#cta {
  padding: 7% 10%;
  background-color: #ff4c68;
  color: #fff;
}

.cta-btn {
  margin: 70px 10px 20px;
}

/* Footer */
#footer {
  padding: 5% 2% 1%;
}

#footer p {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.fa-cog {
  color: #8f8f8f;
  margin: 0.5%;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .hero-img {
    transform: rotate(0deg);
    position: static;
  }
}
